/*Neue Haas Grotesk Display Pro 45 Light

font-family: neue-haas-grotesk-display, sans-serif;

font-weight: 400;

font-style: normal;


Neue Haas Grotesk Display Pro 55 Roman

font-family: neue-haas-grotesk-display, sans-serif;

font-weight: 500;

font-style: normal;


Neue Haas Grotesk Text Pro 55 Roman

font-family: neue-haas-grotesk-text, sans-serif;

font-weight: 400;

font-style: normal;
*/


/*Roboto Mono Light Italic

font-family: roboto-mono, monospace;

font-weight: 300;

font-style: italic;


Roboto Mono Light

font-family: roboto-mono, monospace;

font-weight: 300;

font-style: normal;


Roboto Mono Italic

font-family: roboto-mono, monospace;

font-weight: 400;

font-style: italic;


Roboto Mono Regular

font-family: roboto-mono, monospace;

font-weight: 400;

font-style: normal;*/

/*
font-family: 'Canela Web';
   font-weight: normal;
   font-style: normal; */

@font-face {
       font-family: 'Canela Web';
       src: url(../assets/fonts/canela-regular/CanelaWeb-Regular.woff2) format('woff2'),
           url(../assets/fonts/canela-regular/CanelaWeb-Regular.woff) format('woff'),
           url(../assets/fonts/canela-regular/CanelaWeb-Regular.ttf) format('truetype');
       font-weight: normal;
       font-style: normal;
 }


body {
	background-color: #F8EEE4;
  counter-reset: page;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: grayscale;
}

main {
	margin: 0 auto;
	padding: 2em;
}

nav {
  position: absolute;
  padding-top: 1em;
}

.brief {
  font-family: roboto-mono, monospace;
  font-weight: 300;
  font-style: italic;
  font-size: 12pt;
  line-height: 1.5em;
}

.spacer{
  padding-bottom: 1em;
  padding-top: 8em;
}

.centered {
  text-align: center;
}

.grotesk {
	font-family: neue-haas-grotesk-text, sans-serif;
  font-style: normal;
	font-weight: 400;
}

.canela {
  font-family: 'Canela Web';
  font-weight: normal;
  font-style: normal;
  font-size: 60pt;
  color: #D5861C;
}

.tableName {
	font-family: roboto-mono, monospace;
  font-style: normal;
	font-weight: 300;
  text-transform: uppercase;
  font-size: 22pt;
}

.designer {
  font-family: roboto-mono, monospace;
  font-weight: 200;
  font-style: italic;
  font-size: 22pt;
}

.contents {
  padding-top: 15em;
  padding-bottom: 6em;
}

.bodyType{
  font-family: roboto-mono, monospace;
  font-weight: 300;
  font-style: italic;
  font-size: 12pt;
  line-height: 1.5;
}

.bodyDesigner {
 font-size: 16pt;
 text-transform: uppercase;
}

.subpageCard {
  margin: 0;
  min-height: 600px;
}

.btn-link {
  color: #212529;
}

.btn-link:hover {
 color: #f5d372;
 text-decoration: none;
}

.card {
  background-color: #F8EEE4;
  border: none;
}

.card-header {
  background-color: #F8EEE4;
}

#logo {
  position: sticky;
  z-index: 1;
}

#navigate {
  letter-spacing: .75em;
  text-transform: uppercase;
  font-size: 12px;
  color: #ae8d92;
  padding-top: 18em;

}
